<!DOCTYPE html>
html(lang="en")
    head
        include Partials/Header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Coloca tu Nueva Contrase単a
            //- if locals.mensajes
            //-     .alertas
            //-         each categoria in Object.keys(locals.mensajes)
            //-             each error in mensajes[categoria]
            //-                 .alerta(class=`${categoria}`)
            //-                     p= error
                                
            form.caja-login(method="POST")
                .campo
                    label(for="password") Contrase単a:
                    input(type="password" name="password" placeholder="Contrase単a: " value=password)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Contrase単a")