extends Layout
include Mixins/CrearProyecto
block Contenido

    .contenido-principal
        h1 #{nombrePagina}

        if errores
            each error in errores
                .alerta.error= error.texto
        +CrearProyecto(proyecto)