<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width= , initial-scale=1.0")
        title Document
        style 
            include ./Email.css
    body
        h2 Confirma tu Cuenta de LemonTask
        p Ya estas casi registrado, solo presiona el siguiente enlace.
        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
