<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width= , initial-scale=1.0")
        title Document
        style 
            include ./Email.css
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para reestablecerlo.
        p Este enlace es temporal.
        a(href=`${resetUrl}`) Reset Password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
